<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Port de Russell - Connexion</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">

</head>
<body>
    <h1>Port de plaisance de Russell</h1>

    <p>
      Application de gestion des réservations de catways.
    </p>

    <h2>Connexion</h2>

    <% if (error) { %>
      <p class="text-danger"><%= error %></p>
    <% } %>

    <form action="/login" method="POST">
      <div>
        <label>Email</label>
        <input type="email" name="email" value="kevinmarlin@russell-port.fr" required>
      </div>

      <div>
        <label>Mot de passe</label>
        <input type="password" name="password" value="ttJu@72400" required>
      </div>

      <button type="submit">Se connecter</button>
    </form>

    <p>
      <a href="/docs">Documentation de l’API</a>
    </p>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
</body>
</html>