<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Port de Russell - Utilisateur détails</title>
</head>
<body>

    <main>
        <nav>
            <a href="/dashboard">Retour</a>
        </nav>
        <h1><%= user.username %></h1>
        <p>Adresse email : <%= user.username %><</p>
    </main>
    
</body>
</html>